.contact-card {
  background-color: rgba(54, 71, 74, 0.5);
  margin: 80px auto 0 auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 70%;
  transition: transform .2s; 
  opacity: 0.9;
  animation: fade-in 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-card .contact-header {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 1em;
  animation: slide-in 2s;
}

.contact-card .contact-info {
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
}

.contact-card .contact-info p {

  animation: pop-in 1s ease-out 1s both;
}

.contact-card .contact-info a {
  text-decoration: none;
  color: #e0e7e9;
}

.resume-button {
  background-color: #a3c6c4;
  color: #e0e7e9;
}
.resume-button:hover {
  background-color: #e0e7e9;
  color: #a3c6c4;
}


