
#header {
  background-color: rgba(53, 70, 73, 0.98);
  position: fixed;
  right: 3vw;
  top: 50%;  
  transform: translateY(-50%);  
  z-index: 999;
  max-height: 600px; 
  border-radius: 15px; 
  display: flex;
  overflow: auto; 
}
header p {
  font-size: 1.5rem;
}
.letter {
  font-size: 1.2rem;
  color: #A3C6C4;

}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 35px;
  cursor: pointer;
}
nav a:hover {
  transform: scale(1);
    background-color: #6C7A89;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    color: #354649;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    padding: 3px;
}
#header ul {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 0;
}


#header li {
  list-style: none;
  margin: 10px 15px;
}
#header a {
  display: block;
  text-decoration: none;
  color: #A3C6C4;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A3C6C4;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #A3C6C4;
  transition: .4s;
}

.vertical-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem;
}


.social-icon {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(-100px);
  opacity: 0;
  margin-top: .5rem;
  height: 0;
}



@keyframes slideIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.social-container:hover .social-icon {
  animation: slideIn 0.9s forwards;
  height: 25px;
}


@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #header {
    right: 0;
  }
  .icon {
    width: 15px;
  }
  #header li{
    list-style: none;
    margin: 10px 0px;
  }
}

